@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100;200;600&display=swap');

:root{
    --color1:#081B29;
    --color2:#00ABF0;
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 90vh;
    background-color: var(--color1);
}

.cabecalho{
    padding-top: 2%;
    padding-left: 3%;
}

.cabecalho-menu{
    padding-bottom: 30px;
    max-width: 100%;
    min-width: 100px;
}

.link-header{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 3%;

}

.link-header:hover{
    text-decoration: underline;
    color: var(--color2);
    transition-duration: 1s;
}

main{
    max-width: 100%;
    min-width: 200px;
    color: white;
    margin-top: 60px;
    margin-bottom: 110px;
    padding-left: 3%;
    display: flex;
    justify-content: space;
    gap: 20%;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column ;
    gap: 10%;
}


.titulo-inicio{
    padding-bottom: 10px;
    font-size: 3em;
    font-variant: small-caps;
}

.titulo-secundario{
    font-size: 1.7em;
    padding-top: 10px;
    padding-bottom: 20px;
}

strong{
    color: var(--color2);
}

.link-faculdade{
    text-decoration: none;
    font-weight: bold;
}

.link-faculdade:hover{
    text-decoration: underline;
    text-decoration-color: white;
}

.apresentacao-sobre-mim{
    background-color: var(--color2);
    max-width: 700px;
    min-width: 300px;
    color: white;
    font-weight: 400;
    padding: 10px;
    border-radius: 15px;
    line-height: 2em;
    margin-bottom: 10px;
    font-size: 1.7em;
    text-align: justify;
    
}

.foto-minha {
    margin-top: 100px;
    margin-right: 10px;
    border-radius: 50%;
    width: 30%;
    height: 30%;
    border: 5px solid var(--color2);
}

.titulo-terciario{
    font-size: 2em;
    color: white;
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 30px;
    font-variant: small-caps;
}

.links-redes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.links-redes-controle{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 300px;
    border: 2px solid var(--color2);
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    padding-left: 10px;
}

.links-redes-controle:hover{
    background-color: var(--color2);
    transition-duration: 1s;
}

footer{
    background-color: var(--color2);
    height: 25px;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

@media(max-width: 1200px) {
    main{
        flex-direction: column-reverse;
        margin-left: -10px;
    }

    .cabecalho{
        padding: 10%;
        font-size: 1px;
    }

    .cabecalho-menu{
        display: flex;
        justify-content: center;
    }

    .link-header{
        font-size: 17px;
        text-decoration: underline;
    }

    .foto-minha{
        display: flex;
        margin: auto;
        width: 60%;
        margin-bottom: 5% ;
    }

    .apresentacao-sobre-mim{
        width: 90%;
        display: flex;
        margin: auto;
        font-size: 150%;
        
    }

    .titulo-inicio{
        text-align: center;
    }

    .titulo-secundario{
        text-align: center;
    }

    footer{
        height: 30px ;
    }
}